/*-----------------------------------------------------------------------------
	Reset
-----------------------------------------------------------------------------*/

/* Based on Eric Meyer's reset
 * http://meyerweb.com/eric/tools/css/reset/
 * v1.0 | 20080212
 */

html, body, div, span, applet, object, iframe,
header, nav, section, aside, footer,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
}
input, select, textarea, button {
	margin: 0;
	padding: 0;
	font-size: 1em;
	vertical-align: baseline;
}
button::-moz-focus-inner {
	border:0;
	padding:0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header, nav, section, aside, footer {
	display: block;
}

/*-----------------------------------------------------------------------------
	Shared styles
-----------------------------------------------------------------------------*/

body {
	font: 68.75%/1.5 Lucida Grande, Leelawadee, Tahoma, Verdana, sans-serif;
}
a {
	color: #3f69a5;
	border-bottom: 1px solid #BDC9DA;
/*	text-decoration: underline;*/
	cursor: pointer;
}
a:hover {
	color: #000;
}
a:active, a:focus {
	color: #d42;
}
h1, h2 {
	font: 127.28% Lucida Grande, Leelawadee, Tahoma, Verdana, sans-serif;
}
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 2.25em;
}
code {
	font: 110%/1.5 Monaco, Consolas, 'Andale Mono', monospace;
	font-size-adjust: 0.5;
}
pre {
	margin-bottom: 1.75em;
}
pre code {
	display: block;
	white-space: pre;
}
i code {
	font-size: 1em;
	font-size-adjust: 0;
}

fieldset {
	position: relative;
	padding: 1em 0;
}
legend {
	line-height: 1;
}
label {
	display: block;
	margin-bottom: 1.5em;
}
label input {
	padding: 2px;
}
textarea,
label input {
	margin-top: 5px;
	width: 100%;
	font-size: 109.09%;
	font-family: inherit;
	box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
label input[type=checkbox] {
	position: relative;
	top: 2px;
}
input[size],
input[type=radio],
input[type=checkbox] {
	display: inline;
	margin: 0 0.25em 0 0;
	width: auto;
}
input[size],
label + select {
	margin-left: 0.25em;
}
select {
	width: 100%;
	display: block;
	margin-top: 2px;
	box-sizing: border-box;
	-khtml-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
select[multiple] {
	width: 100%;
	height: 10em;
}
button {
	padding: 3.5px 6px 4px;
}
button,
input[type=submit] {
	font-family: Lucida Grande, Leelawadee, Tahoma, Verdana, sans-serif;
}

label *:first-child{
	margin-top: 5px;
}

label input, textarea {
	padding: 5px 5px;
	margin-top: 5px;
	border: 1px solid #AFAFAF;
/*	height: 24px;*/

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	background: rgb(250, 250, 250);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.00, rgb(250, 250, 250)),
		color-stop(0.95, rgb(242, 242, 242))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(250, 250, 250) 0%,
		rgb(240, 240, 240) 95%
	);

	color: #444;
	font: 11px/1.1 'Lucida Grande', Tahoma, Verdana, sans-serif !important;
	text-align: left;

	-webkit-box-shadow: 0 0 2px rgb(200, 200, 200), inset 0 1px 1px rgb(255, 255, 255);
	-moz-box-shadow: 0 0 2px rgb(200, 200, 200), inset 0 1px 1px rgb(255, 255, 255);
}

textarea {
	height: auto;
	padding-top: 5px;
	font: 11px/1.8 'Lucida Grande', Tahoma, Verdana, sans-serif !important;
}

label input:hover,
textarea:hover {
	border: 1px solid #888;
}

label input:focus,
textarea:focus {
	outline: none;
	border: 1px solid #5C83BA;
	-moz-box-shadow: 0 0 6px #5C83BA;
	-webkit-box-shadow: 0 0 6px #5C83BA;
}


/*-----------------------------------------------------------------------------
	Globals - Errors
-----------------------------------------------------------------------------*/

.invalid {
/*	color: #fff;*/
	color: #574000;
	margin-bottom: 1.5em;
/*	text-shadow: 1px 1px rgba(0, 0, 0, 0.25);*/
}
.invalid label {
	margin-bottom: 0;
	padding: 0.75em 1em 0.75em 0.75em;
	background-color: #fff5d5;
	border: 1px solid #EFE0B1;
	border-bottom-width: 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
body .invalid label > i {
	top: 0.75em; right: 1em;
	background-color: #d42;
	color: #EAC9C2;
}
.invalid label > i:hover {
	background-color: rgba(221, 68, 34, 0.8) !important;
}
.invalid > .group > label {
	float: right;
	margin-left: -0.1em;
	padding: 0.75em 1.1em 0.75em 0.75em;
	border-left-width: 0;
}
.invalid > .group > label:first-child {
	float: left;
	margin-left: -2.94em;
	margin-right: 0;
	padding: 0.75em 0 0.75em 1em;
	border-left-width: 1px;
	border-right-width: 0;
	border-left-color: #c31;
}
.invalid > label {
	padding: 0.75em 1em 0.75em;
	background-color: #fff5d5;
	border: 1px solid #EFE0B1;
	border-bottom-width: 0;
}
.invalid > p {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
/*	font-style: italic;*/
	clear: left;
	margin: 0;
	padding: 0.55em 1em 0.55em;
	background-color: #FFF9E6;
	color: #866300;
	border: 1px solid #EFE0B1;
}
.invalid > p:before {
	font-weight: bold;
	line-height: 1;
	display: inline-block;
	content: "!";
	text-align: center;
	margin: -0.25em 0.75em 0 0;
	width: 15px;
	height: 12px;
	padding: 3px 0 0;
	background: #EBCA25;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
.invalid > .tags {
	margin: 0;
	padding: 0 1em 1em;
	background-color: #FFF2CB;
	border: 1px solid #EFE0B1;
	border-bottom: none;
	border-top: none;
}
.invalid a {
	color: #866300;
	border-bottom-color: #D4B17D;
}
.invalid a:hover {
	color: #574000;
}

.invalid label input,
.invalid textarea {
	border: 1px solid #C5AA62;
}

.invalid label input:focus,
.invalid textarea:focus {
	outline: none;
	border: 1px solid #B29137;
	-webkit-box-shadow: 0 0 6px #B29137;
}
